# Ignore environments
venv/
env/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore IDE or editor settings
.vscode/
.idea/
*.sublime-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log